@model DailyExpense
@{
    ViewData["Title"] = "Edit";
}

<form asp-action="Create" asp-controller="Expenses" asp-route-id="@Model.DailyExpenseId" method="post">
    <h2>Edit Expense</h2>
    <div class="form-group row my-1">
        <label class="col-form-label col-form-label-sm col-2">Category Name</label>
        <div class="col-6">
            <input type="text" class="form-control form-control-sm" asp-for="ExpenseDate" />
            <span asp-validation-for="ExpenseDate" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row my-1">
        <label class="col-form-label col-form-label-sm col-2">Expense Catgory</label>
        <div class="col-6">
            <select type="text" class="form-select form-select-sm" asp-for="ExpenseCategoryId"
                    asp-items="@(new SelectList(ViewBag.Categories, "ExpenseCategoryId", "CategoryName"))">
                <option value="">select one</option>
            </select>
            <span asp-validation-for="ExpenseCategoryId" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row my-1">
        <label class="col-form-label col-form-label-sm col-2">Amount</label>
        <div class="col-6">
            <input type="text" class="form-control form-control-sm" asp-for="Amount" />
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row my-1">

        <div class="col-10 offset-2">
            <button type="submit" class="btn btn-success">Save</button>
        </div>
    </div>
</form>
<a asp-action="Index" class="btn-link">Back to list</a>
@section styles {
    <link href="~/libs/datepicker/css/bootstrap-datepicker.standalone.min.css" rel="stylesheet" />
}
@section scripts {
    <script src="~/libs/jquery/jquery.min.js"></script>
    <script src="~/libs/validation/jquery.validate.min.js"></script>
    <script src="~/libs/validation/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/libs/datepicker/js/bootstrap-datepicker.min.js"></script>
    <script>
        $(() => {
            $("#ExpenseDate").datepicker({
                format: 'yyyy-mm-dd'
            })
        })
    </script>
}

